body{

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url('/Users/elijahmoye/Desktop/Weather_App/weatherApp/src/images/backdrops/012dfeba-3d1d-4e03-ae8b-a1c53f8084e5.gif');
    background-size: cover;
    
    

}



#search{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
}

#searchBar{
    font-size: 20px;
    border-radius: 14px;
}

#info{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    
}

#inner-info{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 85vw;
    justify-content: space-between;
    margin-top: 50px;
    color: white;
    position: relative;
    left: 4vw;
}

#inner-info > div{

    height: 200px;
    width: 368px;
    color: white;
}

#icon, #information, #myTime{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#icon {

    font-size: large;
    color: white;
    display: flex;
    align-items: center;
    height: 266px;
    justify-content: space-between;
}

#textSource{

    height: 200px;
    width: 200px;
}

#weekForecast{

    width: 313px;
    height: 355px;
    border-radius: 10px;
    width: 75vw;
    
}

#futureTemp {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.093);
    border-radius: 21px;

}

.futures {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 114px;
    justify-content: space-between;
}


